<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="crisis.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="crisis.Perspective"
            id="Crisis.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="crisis.ui.GroupView"
            id="crisis.views.group"
            name="GroupView"
            restorable="true">
      </view>
      <view
            class="crisis.ui.TransactionView"
            id="crisis.views.transaction"
            name="TransactionView"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="Crisis.application"
            name="Crisis">
         <property
               name="appName"
               value="Crisis">
         </property>
      </product>
   </extension>

</plugin>
